---
import VsCode from "./icons/VsCode.astro";
import CardProject from "./CardProject.astro";
import Develop from "./icons/Develop.astro";
import TitleSection from "./TitleSection.astro";
import CardGrid from "./CardGrid.astro";
import Github from "./icons/Github.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<TitleSection notVisible>
  <span class="bg-gray-500 rounded-full p-1">
    <Develop class="w-6 h-6" />
  </span>{i18n.PROJECTS.TITLE}
</TitleSection>
<!-- MOBILE -->
<article
  id="projects"
  class="md:hidden grid auto-rows-[140px] lg:auto-rows-[140px] grid-cols-1 md:grid-cols-3 backdrop-blur-sm bg-black/40 min-w-full rounded-xl"
>
  <CardProject
    title={i18n.PROJECTS.MOBILE.EXTENSION.TITLE}
    class="from-violet-500 to-fuchsia-500"
    href="/extension"
    nameTransition="extencion"
  >
    <VsCode transition:name="vscode" slot="icon" class="w-6 h-6" />
  </CardProject>

  <CardProject
    title={i18n.PROJECTS.MOBILE.PROJECTS.TITLE}
    class="from-blue-500 to-purple-500"
    nameTransition="projects"
    href="/projects"
  >
    <Develop slot="icon" class="w-6 h-6" />
  </CardProject>

  <CardProject
    title={i18n.PROJECTS.MOBILE.VIDEOGAME.TITLE}
    class="from-rose-500 to-orange-500"
    nameTransition="998989"
  >
    <picture slot="icon">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-8 h-8 z-10" />
    </picture>
  </CardProject>
</article>

<!-- DESKTOP -->
<article
  class="relative m-auto hidden md:grid gap-4 place-content-center *:bg-black/50 *:backdrop-blur-sm grid-cols-[repeat(4,minmax(180px,1fr))] grid-rows-[repeat(3,minmax(180px,1fr))] lg:grid-cols-[repeat(4,minmax(230px,1fr))] lg:grid-rows-[repeat(3,minmax(230px,1fr))] py-10 *:rounded-xl"
>
  <CardGrid
    title={i18n.PROJECTS.DESKTOP.WORDLE.TITLE}
    id="wordle"
    href="/wordle"
    itemStart
    class:list={"from-blue-500 to-purple-500"}
  >
    <picture slot="icon" transition:name="wordle">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-6 h-6" />
    </picture>
  </CardGrid>
  <CardGrid
    title={i18n.PROJECTS.DESKTOP.FERIALIBRO.TITLE}
    id="feriaLibro"
    href="/feriaLibro"
  >
    <span slot="icon" transition:name="feriaLibro">📚</span>
  </CardGrid>
  <CardGrid
    id="grid-extencion"
    title={i18n.PROJECTS.DESKTOP.EXTENSION.TITLE}
    class="col-span-2"
    href="/extension"
  >
    <VsCode transition:name="vscode" slot="icon" class="w-6 h-6" />
  </CardGrid>
  <CardGrid
    id="test"
    title={i18n.PROJECTS.DESKTOP.SKILLSTEST.TITLE}
    class="row-span-2"
    href="/test"
  >
    <Develop
      class="w-8 h-8 bg-sky-600 p-1 rounded-full"
      slot="icon"
      transition:name="testSkills"
    />
  </CardGrid>

  <a
    href="https://github.com/nicocarobene?tab=repositories"
    target="_blank"
    rel="noopener noreferrer"
    class="col-span-2 flex justify-center items-center gap-3 bg-gradient-to-r from-blue-500/75 to-purple-500/75 overflow-hidden cursor-pointer"
  >
    <div
      class="text-white flex items-center justify-center gap-3 hover:rotate-6 hover:scale-110 transition w-full h-full"
    >
      <Github class="w-10 h-10 text-white" />
      <h2 class="text-3xl font-cascadia">
        {i18n.PROJECTS.DESKTOP.PROJECTS.TITLE}
      </h2>
    </div>
  </a>
  <CardGrid
    title={i18n.PROJECTS.DESKTOP.MINESWEEPER.TITLE}
    id="minesweesper"
    itemStart
    href="/minesweeper"
  />
  <CardGrid
    id="shpping-card"
    title={i18n.PROJECTS.DESKTOP.SHOPPINGCARD.TITLE}
    class="col-span-2"
    href="/shoppingCard"
  >
    <Develop class="w-8 h-8 bg-sky-600 p-1 rounded-full" slot="icon" />
  </CardGrid>
  <CardGrid
    title={i18n.PROJECTS.DESKTOP.SIMONSAY.TITLE}
    id="simonSay"
    itemStart
    href="/simonSay"
  >
    <picture slot="icon" transition:name="simonSay">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-6 h-6" />
    </picture>
  </CardGrid>
</article>
